/*=================================================================================
Layout Template
===================================================================================
*/

.templateMainContent{
    padding: 0%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 30%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.ui-widget{
    font-size: 100%;
}
.ui-widget .ui-widget{
    font-size: 100%;
}

/*=================================================================================
Contenedor General Sección
===================================================================================
*/
.genericContainer{
    padding: 0%;
    margin: 0px;
    margin-bottom: 5%;
}
/*=================================================================================
Estilos Comunes a las Secciones
===================================================================================
*/
.col_1-2{
    width: 50%;
}
.col_3-4{
    width: 75%;
}
.bordeDecorativo{
    border: 2px solid gainsboro;
    border-radius: 5px;
}
.wordwrap{
    /* wrap long text and urls */
    white-space: pre; /* CSS 2.0 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3.0 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    word-wrap: break-word; /* IE 5+ */
}

/*=================================================================================
Estilos Comunes a los Dialogs (PopUp)
===================================================================================
*/
.contenedorDatosDialog,
.contenedorInferiorAccionesDialog{
    max-width: 50em;
    margin-top: 2%;
    margin-bottom: 2%;
}

.contenedorDireccionesEncontradas{
    width: 38em;
    margin: 0% auto;
}


/*=================================================================================
Layout Sección Establecimiento
===================================================================================
*/
.containerEstablecimeinto{
    //height: 160px;
}
.areaCamposSeccionEstablecimiento{
    margin: 1.5% 8.33%;  
    padding: 1.5% 2.5%;
}
.centradoHV_ElementosContenedor{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.contenedorElementoEntradaDatosVertical{
    display: inline-block;
}
.contenedorElementoEntradaDatosVertical > label{
    display: inline-block;
    min-width: 100%;
}
.contenedorElementoEntradaDatosVertical > .ui-inputfield{
    display: inline-block;
    width: 100%;
}



/*=================================================================================
Layout Sección Ubicación
===================================================================================
*/
.contenedorGenericoColumnaUbicacion {
    display: inline-block;
    padding: 1% 2.5%;
    //height: 100%;
    vertical-align: top;
   
}
.contenedorGenericoCamposUbicacion {
    border: 2px gainsboro solid;
    border-radius: 5px;
    /* padding: 3% 5%; */
    //width: initial;
}
.contenedorCamposPlazayMunicipio{
    margin-bottom: 5%;
}
.tablaCamposPlazaMunicipio {
    margin: 2.5% auto;
}
.tablaCamposRestantesUbicacion{
    margin: 2.5%;
}
.contenedorBusquedaUbicacion{
    margin-top: 5%;
}
/*=================================================================================
Layout Sección Ubicación -- Elegir Direccion
===================================================================================
*/
.contenedorDireccionesEncontradas{
    
}

/*=================================================================================
Layout Sección Contacto -- Nuevo Contacto
===================================================================================
*/
.contenedorPrincipalContacto{
    margin-top: 2%;
}
.seccionTituloNuevoContacto{
    text-align: center;
    padding: 1% 0%;
}
.perimetroTituloContacto{
    display: table-cell;
    vertical-align: middle;
    width: 25%;
    height: 2em;
    background-color: gainsboro;
    color: darkblue;
    border-top: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
}
.seccionTituloNuevoContacto span{
    font-size: 22px;
    font-weight: bold;
}

.contenedorGenericoCamposNuevoContacto{
    display: inline-block;
    width: 45%;
    margin: 1% 2.5%;
    padding: 1.5% 1%;
    vertical-align: top;
}
.contenedorDerechoCamposNuevoContacto{
    padding: 0%;
}

/*
.containerFormFields{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.containerFormFields label{
    display: inline-block;
    height: 2em;
    padding-top: auto;
    padding-bottom: auto;
    width: 33.33%;
}
.containerFormFields input{
    width: 66.66%;
    height: 1.6em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}*/
.gridInputText{
    width: 100%;
    padding-bottom: 5%;
}
.gridInputText td{
    text-align: left;
}
/*
.containerRowInputText{
    height: 2.8em;
}
.labelFormInpuText{
    display: inline-block;
    width: 25%;
}
.containerInputText{
    display: inline-block;
    width: 75%;
    height: 100%;
}
.inputTextForm{
    display: inline-block;
    height: 100%;
    width: 75%;
    //margin: auto;
}
*/
/*=================================================================================
Layout Seccion Contacto -- Nuevo Telefono
===================================================================================
*/
.mainColumnContentDialog{
}
.genericContainerDialog{
    margin: 2.5%;
}
.containerButtonsDialog{
    position: relative;
}
.agregarTelefono{
    position: absolute;
    left: 0%;
}
.cancelarTelefono{
    position: absolute;
    right: 0%;
}
/*=================================================================================
Layout Seccion Contacto --- Nuevo Contacto --- Columna Derecha
===================================================================================
*/
.verticalSpaceContainers{
    margin: 2.5% 0%;
}
.todosElementosCentradosHorizontal{
    text-align: center;
}
.contenedorTablaTelefonosAgregadosContacto{
    display: table-cell;
    width: 100%;
    height: 11em;
    vertical-align: middle;
    //padding-top: 5%;
    //padding-bottom: 5%;
}
.contenedorBotonEliminarTelefonos{
    height: 2em;
}
.telefonosAgregadosContacto{
    display: inline-table;
    width: 60%;
    //height: 10em;
    //padding-left: auto;
    //padding-right: auto;
}
.contenedorBotonAgregarContacto{
    display: inline-block;
    padding-top: 10%;
}
.headerTelefonosAgregados{
    display: table;
    width: 100%
}
.contenedorTituloTelefonosAgregados{
    display: table-cell;
    width: 66%;
    vertical-align: middle;
    text-align: left;
}
.contenedorEliminarTelefonosAgregados{
    display: table-cell;
    width: 33%;
    vertical-align: middle;
    text-align: right;
}

/*=================================================================================
Layout Seccion Contacto -- Nuevo Contacto -- Confirmar Datos Nuevo Contacto
===================================================================================
*/
.contenedorPrincipalDialog{
    width: 50em;
}
.contenedorConfirmarDatosNuevoContacto{
    display: flex;
    align-items: center;
}
.contenedorConfirmarMayoriaDatosContacto{
    display: inline-block;
    width: 75%;
}
.telefonosConfirmarNuevoContacto{
    display: inline-table;
    font-size: 80%;
    width: 25%;
}
.contenedorCampoContacto{
    display: inline-block;
    text-align: center;
}
.anchoCampoContacto_1-3{
    width: 33.33%
}
.anchoCampoContacto_1-2{
    width: 50%;
}
.nombreCampoConfirmarContacto{
    display: inline-block;
    min-width: 25%;
    font-size: 80%;
    padding: 0.25em 0em;
    //color: #004276;
}
.valorCampoConfirmarContacto{
    display: inline-block;
    width: 80%;
    //margin: 0% auto;
    font-weight: bold;
    color: #004276;
    border-bottom: 5px gainsboro solid;
}
.anchoContenidoCampoContacto{
    width: 80%;
}
.filaDatosTabulares{
    padding: 0.8em 0em;
}
/*=================================================================================
Layout Seccion Contacto -- Ver Todos
===================================================================================
*/

.contendorListaContactos,
.contenedorTelefonosContactoSeleccionado{
    display: table-cell;
    height: 8em;
    vertical-align: middle;
    padding-left:  2.5%;
    padding-right: 2.5%;
}
.contendorListaContactos{
    width: 70%;

}
.contenedorTelefonosContactoSeleccionado{
    width: 30%;
}


.contenedorContactoActual{
    display: flex;
    width: 40em;
    align-items: center;
}
.contenedorNumeroContacto{
    width: 10%;
}
.contenedorDatosContacto{
    display: flex;
    margin: 0.5em 0em;
    //width: 40em;
    align-items: center;
}
.ui-datatable.telefonosContactoAgregado{
    font-size: 85%;
}
