<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >
    
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:editor/>
        <b>Choose number: </b><p:spinner/><br/>
        <b>Choose date: </b><p:calendar/><br/>
    </h:body>
</html>

