<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:outputStylesheet name="css/crearProspecto_v2.css"/>
        <section id="templateMainContent" class="templateMainContent">
            <section id="templateMainHeaderContent">
                <h1>Crear Establecimiento</h1>
            </section>
            <section id="templateMainFormsContent">
                <h:form id="establecimientoMainForm">
                    <!-- 
                        Seccion Establecimiento
                    -->
                    <section id="seccionEstablecimiento" class="genericContainer">
                        <p:panel header="Establecimiento">
                            <div class="areaCamposSeccionEstablecimiento bordeDecorativo">
                                <div class="centradoHV_ElementosContenedor col_1-2">
                                    <div class="contenedorElementoEntradaDatosVertical col_3-4">
                                        <label>#{msgCrearProspecto.nombreEstablecimiento}</label>
                                        <p:inputText value="#{crearEstablecimientoBackingBean.nuevoEstablecimiento.nombreEstablecimiento}"/> 
                                    </div>
                                </div><!--
                                --><div class="centradoHV_ElementosContenedor col_1-2">
                                    <div class="contenedorElementoEntradaDatosVertical col_3-4">
                                        <label>#{msgCrearProspecto.tipoEstablecimiento}</label>
                                        <p:selectOneMenu value="#{crearEstablecimientoBackingBean.nuevoEstablecimiento.idTipoEstablecimiento}">
                                            <f:selectItems value="#{appCache.todosTiposEstablecimiento}"/>
                                        </p:selectOneMenu>
                                    </div>
                                </div>
                            </div>
                        </p:panel>
                    </section>
                        
                    <!--
                        Seccion Ubicacion 
                    -->
                    <section id="seccionUbicacion" class='genericContainer'>
                        <p:panel header="Ubicación">
                            <!--Columna Izquierda Campos Ubicacion-->
                            <div class="contenedorGenericoColumnaUbicacion col_1-2">
                                <div class="contenedorCamposPlazayMunicipio bordeDecorativo">
                                    <h:panelGrid columns="2" class='tablaCamposPlazaMunicipio'>
                                        <label>#{msgCrearProspecto.plaza}</label>
                                        <p:selectOneMenu value="#{crearEstablecimientoBackingBean.plazaSeleccionada}">
                                            <f:selectItems value="#{appCache.todasPlazas}"/>
                                            <f:ajax render="listaMunicipios" listener="#{crearEstablecimientoBackingBean.onChangeSelectedPlaza}"/>
                                        </p:selectOneMenu>
                                        <label>#{msgCrearProspecto.municipio}</label>
                                        <p:selectOneMenu id="listaMunicipios" value="#{crearEstablecimientoBackingBean.nuevoEstablecimiento.idMunicipio}">
                                            <f:selectItems value="#{crearEstablecimientoBackingBean.municipiosEnPlaza}"/>
                                        </p:selectOneMenu>
                                    </h:panelGrid>
                                </div>
                                <!--Sección Búsqueda de Ubicación  -->
                                <fieldset id='contendorBusquedaUbicacion' class='bordeDecorativo contenedorBusquedaUbicacion'>
                                    <legend>Búsqueda de Ubicación</legend>
                                    <p:selectOneRadio id="criterioBusquedaAsentamiento"
                                                      value="#{crearEstablecimientoBackingBean.criterioSeleccionadoBusquedaAsentamiento}">
                                        <f:selectItems value="#{crearEstablecimientoBackingBean.criteriosBusquedaAsentamiento}"/>
                                        <f:ajax render="labelTipoBusqueda"/>
                                    </p:selectOneRadio>
                                    <div>
                                        <h:panelGrid columns="2">
                                            <h:outputLabel id="labelTipoBusqueda" value="#{crearEstablecimientoBackingBean.criterioSeleccionadoBusquedaAsentamiento}"/>
                                            <p:inputText id="parametroBusquedaAsentamiento" value="#{crearEstablecimientoBackingBean.parametroBusquedaUbicacion}"/>
                                        </h:panelGrid>
                                    </div>
                                    <p:commandButton value="Buscar" oncomplete="PF('elegirUbicacionDialog').show();" >
                                        <f:ajax execute="criterioBusquedaAsentamiento parametroBusquedaAsentamiento"
                                                render=":elegirDireccionForm:tablaDireccionesEncontradas"
                                                listener="#{crearEstablecimientoBackingBean.buscarAsentamiento}"/>
                                    </p:commandButton>
                                </fieldset>
                            </div><!--
                                  Columna Derecha Campos Ubicación
                            --><div class='contenedorGenericoColumnaUbicacion col_1-2'>
                                <div id='contenedorCamposRestantesUbicacion' class="bordeDecorativo">
                                    <h:panelGrid columns="2" class="tablaCamposRestantesUbicacion">
                                        <label>#{msgCrearProspecto.nombreCalle}</label>
                                        <p:inputText value="#{crearEstablecimientoBackingBean.nuevoEstablecimiento.calle}" size="20"/>
                                        <label>#{msgCrearProspecto.numeroDomicilio}</label>
                                        <p:inputText value="#{crearEstablecimientoBackingBean.nuevoEstablecimiento.numeroDomicilio}" size="20"/>
                                        <label>#{msgCrearProspecto.entreCalle}</label>
                                        <p:inputText value="#{crearEstablecimientoBackingBean.nuevoEstablecimiento.entreCalle}" size="20"/>
                                        <label>#{msgCrearProspecto.yCalle}</label>
                                        <p:inputText value="#{crearEstablecimientoBackingBean.nuevoEstablecimiento.YCalle}" size="20"/>
                                        <label>#{msgCrearProspecto.referenciaFisica}</label>
                                        <p:inputText value="#{crearEstablecimientoBackingBean.nuevoEstablecimiento.referenciaFisica}" size="20"/>
                                    </h:panelGrid>
                                </div>
                            </div>  
                        </p:panel>
                    </section>
                    <!-- 
                        Seccion Contacto
                    -->
                    <section id="seccionContacto">
                        <p:panel header="Contacto">
                            <f:facet name="options">
                                <p:menu>
                                    <p:submenu label="Opciones">
                                        <p:menuitem value="#{crearEstablecimientoBackingBean.opcionContactoNuevo}"
                                                    actionListener="#{crearEstablecimientoBackingBean.onOpcionContactoSeleccionada}"
                                                    update="contenedorPrincipalContacto"
                                                    />
                                        <p:menuitem value="#{crearEstablecimientoBackingBean.opcionContactoVerTodos}"
                                                    actionListener="#{crearEstablecimientoBackingBean.onOpcionContactoSeleccionada}"
                                                    update="contenedorPrincipalContacto"/>
                                        <p:menuitem value="#{crearEstablecimientoBackingBean.opcionEditarContacto}"
                                                    actionListener="#{crearEstablecimientoBackingBean.onOpcionContactoSeleccionada}"
                                                    update="contenedorPrincipalContacto"/>
                                        <p:menuitem value="#{crearEstablecimientoBackingBean.opcionEliminarContacto}"
                                                    actionListener="#{crearEstablecimientoBackingBean.onOpcionContactoSeleccionada}"
                                                    update="contenedorPrincipalContacto"/>    
                                    </p:submenu>
                                </p:menu>
                            </f:facet>

                            <h:panelGroup id="contenedorPrincipalContacto" layout="block" styleClass="contenedorPrincipalContacto">
                                <h:panelGroup id="contenedorNuevoContacto" layout="block"
                                              rendered="#{crearEstablecimientoBackingBean.habilitarNuevoContacto}">
                                    <!-- 
                                        Nuevo Contacto
                                    -->

                                    <!--Columna Izquierda Seccion Contacto-->
                                    <div id="contenedorIzquierdoCamposNuevoContacto" class="contenedorGenericoCamposNuevoContacto bordeDecorativo">
                                        <h:panelGrid id="gridCamposNuevoContacto" columns="2" class="gridInputText">
                                            <label>#{msgCrearProspecto.nombre}</label>
                                            <p:inputText value="#{crearEstablecimientoBackingBean.nuevoContactoEstablecimiento.nombreContacto}"/>
                                            <label>#{msgCrearProspecto.apellidoPaterno}</label>
                                            <p:inputText value="#{crearEstablecimientoBackingBean.nuevoContactoEstablecimiento.apellidoPaterno}"/>
                                            <label>#{msgCrearProspecto.apellidoMaterno}</label>
                                            <p:inputText value="#{crearEstablecimientoBackingBean.nuevoContactoEstablecimiento.apellidoMaterno}"/>
                                            <label>#{msgCrearProspecto.rfc}</label>
                                            <p:inputText value="#{crearEstablecimientoBackingBean.nuevoContactoEstablecimiento.rfc}"/>
                                            <label>#{msgCrearProspecto.email}</label>
                                            <p:inputText value="#{crearEstablecimientoBackingBean.nuevoContactoEstablecimiento.email}"/>
                                        </h:panelGrid>
                                        <p:menuButton value="Teléfonos">
                                            <p:menuitem value="Agregar"
                                                        actionListener="#{crearEstablecimientoBackingBean.inicializarNuevoTelefonoNuevoContacto}"
                                                        update=":nuevoTelefonoContactoForm :establecimientoMainForm:contenedorTablasTelefonosAgregadosContacto"
                                                        oncomplete="PF('agregarTelefonoDialog').show();"
                                                        />
                                            <p:menuitem value="Remover"
                                                        actionListener="#{crearEstablecimientoBackingBean.inicializarRemoverTelefonos}"
                                                        update=":establecimientoMainForm:contenedorTablasTelefonosAgregadosContacto"
                                                        />
                                            <p:menuitem value="Editar"
                                                        actionListener="#{crearEstablecimientoBackingBean.inicializarEdicionTelefonos}"
                                                        update=":establecimientoMainForm:contenedorTablasTelefonosAgregadosContacto"
                                                        />
                                        </p:menuButton>
                                    </div><!--
                                          Columna Derecha Seccion Contacto
                                    --><div id="contenedorDerechoCamposNuevoContacto"
                                            class="contenedorGenericoCamposNuevoContacto contenedorDerechoCamposNuevoContacto todosElementosCentradosHorizontal">
                                        <h:panelGroup id="contenedorTablasTelefonosAgregadosContacto" 
                                                      layout="block"
                                                      styleClass="contenedorTablaTelefonosAgregadosContacto bordeDecorativo"
                                                      >
                                            <ui:repeat value="#{crearEstablecimientoBackingBean.nuevoContactoEstablecimiento}" var="contactoEstablecimiento">
                                                <p:dataTable id="telefonosAgregadosContacto"
                                                             styleClass="telefonosAgregadosContacto"
                                                             value='#{crearEstablecimientoBackingBean.telefonosNuevoContacto}'
                                                             var='catTelefonoContacto'
                                                             disabledSelection="#{crearEstablecimientoBackingBean.deshabilitarEliminarTelefonos}"
                                                             selection="#{crearEstablecimientoBackingBean.telefonosSeleccionadosPorRemover}"
                                                             rowKey="#{catTelefonoContacto.idTelefonoContacto}"
                                                             editable="#{crearEstablecimientoBackingBean.habilitarEdicionTelefonos}"
                                                             editMode="cell">
                                                    <p:ajax event="cellEdit" listener="#{crearEstablecimientoBackingBean.onEdicionTelefonoAgregado}" 
                                                            update=":infoMessage"/>
                                                    <p:ajax event="rowSelectCheckbox" listener="#{crearEstablecimientoBackingBean.onTelefonoSelected}"
                                                            update="botonEliminarTelefonos"/>
                                                    <p:ajax event="rowUnselectCheckbox" listener="#{crearEstablecimientoBackingBean.onTelefonoUnselected}"
                                                            update="botonEliminarTelefonos"/>
                                                    <p:column selectionMode="multiple" width="20%"/>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <div class="headerTelefonosAgregados">
                                                                <div class="contenedorTituloTelefonosAgregados">
                                                                    <label>Teléfonos</label>    
                                                                </div>
                                                                <div class="contenedorEliminarTelefonosAgregados">
                                                                    <p:commandButton id="botonEliminarTelefonos"
                                                                                     icon="ui-icon-trash"
                                                                                     actionListener="#{crearEstablecimientoBackingBean.removerTelefonosSeleccionadosContacto(contactoEstablecimiento)}"
                                                                                     update=":infoMessage :establecimientoMainForm:contenedorTablasTelefonosAgregadosContacto"
                                                                                     disabled="#{crearEstablecimientoBackingBean.deshabilitarBotonEliminarTelefonos}"
                                                                                     />    
                                                                </div>
                                                            </div>
                                                        </f:facet>
                                                        <p:cellEditor>
                                                            <f:facet name="output">#{catTelefonoContacto.telefono}</f:facet>
                                                            <f:facet name="input">
                                                                <h:inputText value="#{catTelefonoContacto.telefono}"/>
                                                            </f:facet>
                                                        </p:cellEditor>
                                                    </p:column>

                                                </p:dataTable>
                                            </ui:repeat>
                                            
                                        </h:panelGroup>

                                        <div class="contenedorBotonAgregarContacto">
                                            <p:commandButton value="Agregar Contacto"
                                                             process="gridCamposNuevoContacto contenedorTablasTelefonosAgregadosContacto"
                                                             update=":confirmarNuevoContactoForm:contenedorConfirmarDatosNuevoContacto"
                                                             oncomplete="PF('confirmarNuevoContacto').show();"/>
                                        </div>
                                    </div>
                                </h:panelGroup>
                                <!--
                                    Seccion Contacto Opcion Ver Todos
                                -->
                                <h:panelGroup id="contenedorVerTodosContacto" layout="block"
                                              rendered="#{not crearEstablecimientoBackingBean.habilitarNuevoContacto}">
                                    <p:dataTable id="contactosAgregados"
                                                 value="#{crearEstablecimientoBackingBean.contactosEstablecimiento}"
                                                 var="contactoEstablecimiento"
                                                 disabledSelection="#{(not crearEstablecimientoBackingBean.habilitarEliminarContactosAgregados)}"
                                                 selection="#{crearEstablecimientoBackingBean.contactosPorEliminar}"
                                                 rowKey="#{contactoEstablecimiento.idContactoEstablecimiento}">
                                        
                                        <p:column selectionMode="multiple" width="5%"/>
                                        <p:column headerText="Contactos Agregados">
                                            <h:panelGroup id="contenedorDatosContactoAgregado"
                                                          layout="block" styleClass="contenedorDatosContacto">
                                                <div class="contenedorConfirmarMayoriaDatosContacto">
                                                    <div class="filaDatosTabulares">
                                                        <div class="contenedorCampoContacto anchoCampoContacto_1-3">
                                                            <h:panelGroup styleClass="valorCampoConfirmarContacto"
                                                                          rendered="#{not crearEstablecimientoBackingBean.habilitarEdicionContactosAgregados}">
                                                                #{contactoEstablecimiento.nombreContacto}
                                                            </h:panelGroup>
                                                            <p:inputText value="#{contactoEstablecimiento.nombreContacto}" 
                                                                         styleClass="anchoContenidoCampoContacto"
                                                                         rendered="#{crearEstablecimientoBackingBean.habilitarEdicionContactosAgregados}"
                                                                         valueChangeListener="#{crearEstablecimientoBackingBean.onEdicionPropiedadContactoAgregado}">
                                                                <p:ajax event="blur" update=':infoMessage'/>
                                                            </p:inputText>
                                                            <label class="nombreCampoConfirmarContacto">Nombre</label>    
                                                        </div><!--
                                                        --><div class="contenedorCampoContacto anchoCampoContacto_1-3">
                                                            <h:panelGroup styleClass="valorCampoConfirmarContacto"
                                                                          rendered="#{not crearEstablecimientoBackingBean.habilitarEdicionContactosAgregados}">
                                                                #{contactoEstablecimiento.apellidoPaterno}
                                                            </h:panelGroup>
                                                            <p:inputText value="#{contactoEstablecimiento.apellidoPaterno}" 
                                                                         styleClass="anchoContenidoCampoContacto"
                                                                         rendered="#{crearEstablecimientoBackingBean.habilitarEdicionContactosAgregados}"
                                                                         valueChangeListener="#{crearEstablecimientoBackingBean.onEdicionPropiedadContactoAgregado}">
                                                                <p:ajax event="blur" update=':infoMessage'/>
                                                            </p:inputText>
                                                            <label class="nombreCampoConfirmarContacto">Apellido Paterno</label>    
                                                        </div><!--
                                                        --><div class="contenedorCampoContacto anchoCampoContacto_1-3">
                                                            <h:panelGroup styleClass="valorCampoConfirmarContacto"
                                                                          rendered="#{not crearEstablecimientoBackingBean.habilitarEdicionContactosAgregados}">
                                                                #{contactoEstablecimiento.apellidoMaterno}
                                                            </h:panelGroup>
                                                            <p:inputText value="#{contactoEstablecimiento.apellidoMaterno}" 
                                                                         styleClass="anchoContenidoCampoContacto"
                                                                         rendered="#{crearEstablecimientoBackingBean.habilitarEdicionContactosAgregados}"
                                                                         valueChangeListener="#{crearEstablecimientoBackingBean.onEdicionPropiedadContactoAgregado}">
                                                                <p:ajax event="blur" update=':infoMessage'/>
                                                            </p:inputText>
                                                            <label class="nombreCampoConfirmarContacto">Apellido Materno</label>
                                                        </div>
                                                    </div>
                                                    <div class="filaDatosTabulares">
                                                        <div class="contenedorCampoContacto anchoCampoContacto_1-2">
                                                            <h:panelGroup styleClass="valorCampoConfirmarContacto"
                                                                          rendered="#{not crearEstablecimientoBackingBean.habilitarEdicionContactosAgregados}">
                                                                #{contactoEstablecimiento.email}
                                                            </h:panelGroup>
                                                            <p:inputText value="#{contactoEstablecimiento.email}" 
                                                                         styleClass="anchoContenidoCampoContacto"
                                                                         rendered="#{crearEstablecimientoBackingBean.habilitarEdicionContactosAgregados}"
                                                                         valueChangeListener="#{crearEstablecimientoBackingBean.onEdicionPropiedadContactoAgregado}">
                                                                <p:ajax event="blur" update=':infoMessage'/>
                                                            </p:inputText>
                                                            <label class="nombreCampoConfirmarContacto">e-mail</label>
                                                        </div><!--
                                                        --><div class="contenedorCampoContacto anchoCampoContacto_1-2">
                                                            <h:panelGroup styleClass="valorCampoConfirmarContacto"
                                                                          rendered="#{not crearEstablecimientoBackingBean.habilitarEdicionContactosAgregados}">
                                                                #{contactoEstablecimiento.rfc}
                                                            </h:panelGroup>
                                                            <p:inputText value="#{contactoEstablecimiento.rfc}" 
                                                                         styleClass="anchoContenidoCampoContacto"
                                                                         rendered="#{crearEstablecimientoBackingBean.habilitarEdicionContactosAgregados}"
                                                                         valueChangeListener="#{crearEstablecimientoBackingBean.onEdicionPropiedadContactoAgregado}">
                                                                <p:ajax event="blur" update=':infoMessage'/>
                                                            </p:inputText>
                                                            <label class="nombreCampoConfirmarContacto">RFC</label>
                                                        </div>    
                                                    </div>
                                                </div>
                                                <p:dataTable id="telefonosAgregadosContactoAgregado"
                                                             value="#{contactoEstablecimiento.catTelefonoContactoList}"
                                                             var="telefonoContacto"
                                                             styleClass="telefonosConfirmarNuevoContacto telefonosContactoAgregado"
                                                             disabledSelection="#{crearEstablecimientoBackingBean.deshabilitarEliminarTelefonos}"
                                                             rowKey="#{telefonoContacto.idTelefonoContacto}"
                                                             selection="#{crearEstablecimientoBackingBean.telefonosSeleccionadosPorRemover}"
                                                             editable="#{crearEstablecimientoBackingBean.habilitarEdicionTelefonos}"
                                                             editMode="cell">
                                                    <p:ajax event="cellEdit" listener="#{crearEstablecimientoBackingBean.onEdicionTelefonoAgregado}" 
                                                            update=":infoMessage"/>
                                                    <p:ajax event="rowSelectCheckbox" listener="#{crearEstablecimientoBackingBean.onTelefonoSelected}"
                                                            update="eliminarTelefonosContactoAgregado"/>
                                                    <p:ajax event="rowUnselectCheckbox" listener="#{crearEstablecimientoBackingBean.onTelefonoUnselected}"
                                                            update="eliminarTelefonosContactoAgregado"/>
                                                    <p:column selectionMode="multiple" width="20%"/>
                                                    <p:column>
                                                        <f:facet name="header">
                                                            <div class="headerTelefonosAgregados">
                                                                <div class="contenedorTituloTelefonosAgregados">
                                                                    <p:commandButton id="opcionesEditarTelefonosContacto" value="Teléfonos" type="button"
                                                                                     disabled="#{not crearEstablecimientoBackingBean.habilitarEdicionContactosAgregados}"/>
                                                                    <p:menu overlay="true" trigger="opcionesEditarTelefonosContacto" my="left top" at="left bottom">
                                                                        <p:submenu label="Opciones">
                                                                            <p:menuitem value="Agregar"
                                                                                        actionListener="#{crearEstablecimientoBackingBean.inicializarNuevoTelefonoContactoAgregado(contactoEstablecimiento)}"
                                                                                        update=":nuevoTelefonoContactoForm telefonosAgregadosContactoAgregado"
                                                                                        oncomplete="PF('agregarTelefonoDialog').show();"
                                                                                        />
                                                                            <p:menuitem value="Remover"
                                                                                        actionListener="#{crearEstablecimientoBackingBean.inicializarRemoverTelefonos}"
                                                                                        update=":infoMessage telefonosAgregadosContactoAgregado"
                                                                                        />   
                                                                            <p:menuitem value="Editar"
                                                                                        actionListener="#{crearEstablecimientoBackingBean.inicializarEdicionTelefonos}"
                                                                                        update=":infoMessage #{crearEstablecimientoBackingBean.idComponenteListaTelefonos}"
                                                                                        />
                                                                        </p:submenu>
                                                                    </p:menu>
                                                                </div>
                                                                <div class="contenedorEliminarTelefonosAgregados">
                                                                    <p:commandButton id="eliminarTelefonosContactoAgregado"
                                                                                     icon="ui-icon-trash"
                                                                                     actionListener="#{crearEstablecimientoBackingBean.removerTelefonosSeleccionadosContacto(contactoEstablecimiento)}"
                                                                                     disabled="#{crearEstablecimientoBackingBean.deshabilitarBotonEliminarTelefonos}"
                                                                                     update=":infoMessage telefonosAgregadosContactoAgregado"
                                                                                     />
                                                                </div>
                                                            </div>
                                                        </f:facet>
                                                        <p:cellEditor>
                                                            <f:facet name="output">#{telefonoContacto.telefono}</f:facet>
                                                            <f:facet name="input">
                                                                <h:inputText value="#{telefonoContacto.telefono}"/>
                                                            </f:facet>
                                                        </p:cellEditor>
                                                    </p:column>
                                                </p:dataTable>
                                            </h:panelGroup>
                                        </p:column>
                                    </p:dataTable>
                                    
                                    

                                            
                                    <ui:remove>
                                        <h:panelGroup id="contenedorEjecutarAccionVertTodos" layout="block">
                                            <p:commandButton value="Eliminar"
                                                             process=":establecimientoMainForm:contenedorDatosContacto @this"
                                                             actionListener="#{crearEstablecimientoBackingBean.eliminarContactoAgregado}"
                                                             update="establecimientoMainForm:contenedorDatosContacto"
                                                             rendered="#{crearEstablecimientoBackingBean.renderElementosOpcionEliminarContacto}"/>
                                        </h:panelGroup>    
                                    </ui:remove>
                                </h:panelGroup>
                            </h:panelGroup>
                        </p:panel>
                    </section>
                </h:form>
                <!-- 
                    Dialogs
                -->
                <p:dialog header="Confirmar datos Nuevo Contacto"
                          widgetVar="confirmarNuevoContacto"
                          draggable="true"
                          modal="true"
                          showEffect="clip"
                          hideEffect="fade"
                          minWidth="300"
                          minHeight="250">
                    <div id="contenedorPrincipalDialog" class='contenedorPrincipalDialog'>
                        <h:form id="confirmarNuevoContactoForm">
                            <h:panelGroup id="contenedorConfirmarDatosNuevoContacto" layout="block"
                                          styleClass="contenedorConfirmarDatosNuevoContacto">
                                <div class="contenedorConfirmarMayoriaDatosContacto">
                                    <div class="filaDatosTabulares">
                                        <div class="contenedorCampoContacto anchoCampoContacto_1-3">
                                            <span class="valorCampoConfirmarContacto">#{crearEstablecimientoBackingBean.nuevoContactoEstablecimiento.nombreContacto}</span>
                                            <label class="nombreCampoConfirmarContacto">Nombre</label>    
                                        </div><!--
                                        --><div class="contenedorCampoContacto anchoCampoContacto_1-3">
                                            <span class="valorCampoConfirmarContacto">#{crearEstablecimientoBackingBean.nuevoContactoEstablecimiento.apellidoPaterno}</span>
                                            <label class="nombreCampoConfirmarContacto">Apellido Paterno</label>    
                                        </div><!--
                                        --><div class="contenedorCampoContacto anchoCampoContacto_1-3">
                                            <span class="valorCampoConfirmarContacto">#{crearEstablecimientoBackingBean.nuevoContactoEstablecimiento.apellidoMaterno}</span>
                                            <label class="nombreCampoConfirmarContacto">Apellido Materno</label>
                                        </div>
                                    </div>
                                    <div class="filaDatosTabulares">
                                        <div class="contenedorCampoContacto anchoCampoContacto_1-2">
                                                <span class="valorCampoConfirmarContacto">#{crearEstablecimientoBackingBean.nuevoContactoEstablecimiento.email}</span>
                                                <label class="nombreCampoConfirmarContacto">e-mail</label>
                                        </div><!--
                                        --><div class="contenedorCampoContacto anchoCampoContacto_1-2">
                                                <span class="valorCampoConfirmarContacto">#{crearEstablecimientoBackingBean.nuevoContactoEstablecimiento.rfc}</span>
                                                <label class="nombreCampoConfirmarContacto">RFC</label>
                                        </div>    
                                    </div>
                                </div>
                                <p:dataTable value="#{crearEstablecimientoBackingBean.telefonosNuevoContacto}"
                                             var="telefonoContacto"
                                             styleClass="telefonosConfirmarNuevoContacto telefonosContactoAgregado">
                                    <p:column headerText="Teléfonos">
                                        #{telefonoContacto.telefono}
                                    </p:column>
                                </p:dataTable>
                            </h:panelGroup>
                            
                            <div id="contenedorBotones">
                                <p:commandButton value="Confirmar"
                                                 actionListener="#{crearEstablecimientoBackingBean.agregarNuevoContacto}"
                                                 update=":infoMessage :establecimientoMainForm:contenedorNuevoContacto"
                                                 oncomplete="PF('confirmarNuevoContacto').hide();"/>        
                            </div>
                        </h:form>
                    </div>
                </p:dialog>
                
                <!--Dialog  Agregar Teléfono-->
                <p:dialog id="dialogAgregarTelefono"
                          header="Agregar Teléfono"
                          widgetVar="agregarTelefonoDialog"
                          draggable="true"
                          modal="true"
                          showEffect="clip"
                          hideEffect="fade"
                          minWidth="300"
                          minHeight="250">
                    <h:form id="nuevoTelefonoContactoForm">
                        <div id="containerContentDialog">
                            <div id="mainColumnContentDialog" class="genericContainerDialog">
                                <h:panelGrid columns="2">
                                    <label>Nuevo Teléfono</label>
                                    <h:inputText id="nuevoTelefonoContacto"
                                                 value="#{crearEstablecimientoBackingBean.nuevoTelefonoContacto.telefono}"/>
                                </h:panelGrid>        
                            </div>
                            <div id="containerButtonsDialog" class="genericContainerDialog containerButtonsDialog">
                                <p:commandButton id="botonAgregarTelefono" value="Agregar" 
                                                 oncomplete="PF('agregarTelefonoDialog').hide();" 
                                                 process="nuevoTelefonoContacto @this"
                                                 actionListener="#{crearEstablecimientoBackingBean.agregarTelefonoContacto}"
                                                 update=":infoMessage #{crearEstablecimientoBackingBean.idComponenteListaTelefonos}"/>
                                <!--<p:commandButton value="Cancelar" class="cancelarTelefono"/>-->
                            </div>
                        </div>
                    </h:form>
                </p:dialog>
                
                <!--Dialog  Busqueda Dirección-->
                <p:dialog id="dialogBusquedaDireccion"
                          header="Elegir Dirección"
                          widgetVar="elegirUbicacionDialog"
                          draggable="true"
                          modal="true"
                          showEffect="clip"
                          hideEffect="fade"
                          >
                    <h:form id="elegirDireccionForm">
                        <div class="contenedorDatosDialog">
                            <p:dataTable id="tablaDireccionesEncontradas"
                                         value="#{crearEstablecimientoBackingBean.direccionesEncontradas}"
                                         var="catDireccion"
                                         selectionMode="single"
                                         selection="#{crearEstablecimientoBackingBean.nuevoEstablecimiento.idDireccion}"
                                         rowKey="#{catDireccion.idDireccion}"
                                         styleClass="contenedorDireccionesEncontradas">
                                <p:ajax event="rowUnselect" update=":elegirDireccionForm:botonGuardarEleccion"/>
                                <p:ajax event="rowSelect" update=":elegirDireccionForm:botonGuardarEleccion"/>
                                <p:column headerText="Nombre">
                                    #{catDireccion.nombreAsentamiento}
                                </p:column>
                                <p:column headerText="Entidad Federativa">
                                    #{catDireccion.idMunicipio.idEntidadFederativa.catEntidadFederativa}
                                </p:column>
                                <p:column headerText="Municipio">
                                    #{catDireccion.idMunicipio.catMunicipio}
                                </p:column>
                                <p:column headerText="Tipo Asentamiento">
                                    #{catDireccion.idTipoAsentamiento.catTipoAsentamiento}
                                </p:column>
                                <p:column headerText="Código Postal">
                                    #{catDireccion.codigoPostal}
                                </p:column>
                            </p:dataTable>    
                        </div>
                        <div class="contenedorInferiorAccionesDialog">
                            <p:commandButton id="botonGuardarEleccion"
                                             value="Guardar Elección"
                                             process="@form"
                                             actionListener="#{crearEstablecimientoBackingBean.salvarDireccionElejida}"
                                             update=':infoMessage'
                                             oncomplete="PF('elegirUbicacionDialog').hide();"
                                             disabled="#{crearEstablecimientoBackingBean.nuevoEstablecimiento.idDireccion eq null}"/>
                        </div>    
                    </h:form>
                </p:dialog>
                <!--
                    Messages
                -->
                <p:growl id="infoMessage" life="4000" showDetail="true"/>
            </section>
        </section>
    </h:body>
</html>

